---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";

import Avatar from "../components/Avatar.astro";
import User from "../components/User.astro";
import Bio from "../components/Bio.astro";
import Links from "../components/Links.astro";
---

<Layout title="Otoniel Emanuel">
  <main>
    <div class="flex flex-col items-center justify-center gap-2">
      <div class="floating-circle flex flex-col items-center justify-center gap-2">
		<Avatar avatarLink="https://github.com/euotiniel.png" />
      <User userName="@euotiniel" />
	  </div>
      <Bio bio="sometimes i write code" />
    </div>

    <section class="flex flex-col gap-4 py-10">
      <Links url="#!" links="Personal website" />
      <Links url="https://github.com/euotiniel" links="GitHub" />
      <Links url="https://twitter.com/euotiniel" links="Twitter" />
      <Links url="https://www.linkedin.com/in/euotiniel/" links="LinkedIn" />
      <Links url="https://www.instagram.com/euotiniel/" links="Instagram" />
      <Links url="https://web.facebook.com/euotiniel" links="Facebook" />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    padding-top: 5rem;
    width: 400px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .floating-circle {
  animation: float 4s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
}
</style>
